In [3]:
import historical_loader as hist

hist.download_historical_daily_prices('2026-02-12','2026-02-18')

Historical download:   0%|          | 0/2411 [00:00<?, ?ticker/s]

,Date,Ticker,Open,High,Low,Close,Volume,Adj Close,Provider
0,2026-02-12,A,129.000000,129.000000,120.989998,124.879997,3440900.0,124.879997,yfinance
1,2026-02-13,A,125.599998,127.769997,125.019997,125.809998,1527900.0,125.809998,yfinance
2,2026-02-17,A,125.870003,125.910004,122.989998,123.870003,2110500.0,123.870003,yfinance
3,2026-02-18,A,123.639999,126.989998,123.050003,126.940002,1088296.0,126.940002,yfinance
4,2026-02-12,AA,63.480000,63.740002,58.950001,60.509998,8451400.0,60.509998,yfinance
...,...,...,...,...,...,...,...,...,...
9608,2026-02-18,ZVIA,1.640000,1.695000,1.610000,1.650000,559798.0,1.650000,yfinance
9609,2026-02-12,ZWS,52.580002,53.169998,51.169998,51.380001,956200.0,51.380001,yfinance
9610,2026-02-13,ZWS,51.240002,51.570000,50.720001,51.299999,768600.0,51.299999,yfinance
9611,2026-02-17,ZWS,51.380001,51.490002,50.560001,51.119999,793500.0,51.119999,yfinance
9612,2026-02-18,ZWS,50.770000,51.775002,50.660099,51.209999,509234.0,51.209999,yfinance

In [1]:
from intraday_loader import fetch_nyse_latest_open_prices

fetch_nyse_latest_open_prices(nyse_limit=3000, batch_size=100, show_progress=True)

Intraday open download:   0%|          | 0/2411 [00:00<?, ?ticker/s]

            date ticker        open  provider
0     2026-02-18      A  123.639999  yfinance
1     2026-02-18     AA   59.009998  yfinance
2     2026-02-18   AAMI   52.240002  yfinance
3     2026-02-18    AAP   56.549999  yfinance
4     2026-02-18    AAT   18.610001  yfinance
...          ...    ...         ...       ...
2383  2026-02-18    ZTO   25.190001  yfinance
2384  2026-02-18    ZTR    6.940000  yfinance
2385  2026-02-18    ZTS  125.900002  yfinance
2386  2026-02-18   ZVIA    1.640000  yfinance
2387  2026-02-18    ZWS   50.770000  yfinance

[2388 rows x 4 columns]

In [ ]:
from ticker_loader import fetch_nyse_tickers_with_names

fetch_nyse_tickers_with_names(limit=20)